<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pathy Liongo | Accueil</title>
    <link rel="shortcut icon" href="images/PlaLogo.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="font/css/all.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <header class="sticky-top">
    <div class="topbar">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-4 col-8 col-md-4">
            <div class="d-flex net-work">
              <span>Suivez-nous: </span>
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </div>
          <div class="col-lg-8 col-4 col-md-8">
            <div class="d-flex contact-info justify-content-end">
              <p class="mb-0">
                <i class="fas fa-map-marker"></i>
                <span>28 Street, New York City, USA</span>
              </p>
              <p class="mb-0">
                <i class="fas fa-envelope"></i>
                <span>PathyLoingo@gmail.com</span>
              </p>
              <p class="mb-0">
                <i class="fas fa-phone"></i>
                <span>+243 000 000 000</span>
              </p>
              <p class="mb-0">
                <a href="#">
                  <span>FR</span>
                </a>
              </p>
              <p class="mb-0">
                <a href="#">
                  <span>EN</span>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
      <nav class="navbar navbar-expand-lg">
        <div class="menu-toggle">
          <span></span>
          <span></span>
          <span></span>
        </div>
          <div class="container-fluid">
            <a class="navbar-brand" href="index.html">
              <img src="images/PLA logo.png" alt="img">
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto  mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link me-4" aria-current="page" href="index.html">Accueil</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link me-4 active" href="about.html">A propos de nous</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link me-4" href="expertise.html">Expertises</a>
                  <div class="dropMenu dropMenu-lg">
                    <div class="container">
                      <div class="row">
                        <div class="col-lg-6">
                          <h5>Compétences</h5>
                          <ul>
                            <li><a href="">Présentation</a></li>
                            <li><a href="">Vison & Valeurs</a></li>
                            <li><a href="">Historique</a></li>
                            <li><a href="">Stratégie internationale</a></li>
                            <li><a href="">Diversité</a></li>
                            <li><a href="">RSE</a></li>
                            <li><a href="">Distinctions</a></li>
                          </ul>
                        </div>
                        <div class="col-lg-6">
                          <h5>Secteurs</h5>
                          <ul>
                            <li><a href="">Présentation</a></li>
                            <li><a href="">Vison & Valeurs</a></li>
                            <li><a href="">Historique</a></li>
                            <li><a href="">Stratégie internationale</a></li>
                            <li><a href="">Diversité</a></li>
                            <li><a href="">RSE</a></li>
                            <li><a href="">Distinctions</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link me-4" href="avocats.html">équipe</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link me-4" href="publication.html">Publication</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="presence.html">Présence</a>
                </li>
              </ul>
            </div>
          </div>
      </nav>
  </header>
    <div class="global-div">
        <div class="wrapper">
          <div class="loading">
            <div id="loader"></div>
          </div>
            <div class="full-menu">
              <div class="close-menu">
                <span></span>
                <span></span>
              </div>
             <div class="content">
               <h1>Menu</h1>
               <hr>
               <ul>
                 <li>
                   <a href="#">
                     Accueil
                   </a>
                   <a href="#">
                    A propos de nous
                  </a>
                  <a href="#">
                    Expertises
                  </a>
                  <a href="#">
                    Avocats
                  </a>
                  <a href="#">
                    Contact
                  </a>
                 </li>
               </ul>
               <h1>Contact info</h1>
               <hr>
               <p>
                 <i class="fas fa-phone"></i>
                 +243 000 000 000
               </p>
               <p>
                <i class="fas fa-envelope"></i>
                PathyLiongo@gmail.com
              </p>
              <div class="net-work d-flex justify-content-center mt-4">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                  <i class="fab fa-instagram"></i>
                </a>
              </div>
             </div>
            </div>
            
            <div class="banner-sm">
                <img src="images/img3.jpg" alt="">
                    <div class="container">
                      <dv class="row">
                        <div class="col-lg-12">
                          <div class="text-center text-white">
                            <h2>A Propos De Nous</h2>
                            <h1>Présentation</h1>
                          </div>
                        </div>
                      </dv>
                    </div>
            </div>
            <div class="about about-sm">
              <div class="container">
                <div class="row g-3 g-sm-5 g-lg-5">
                  <div class="col-lg-6 col-sm-6">
                    <h2>Qui sommes-nous</h2>
                    <h1>We are here to fight against any violance with experience</h1>
                    <p>PLA Law Firm est un cabinet d’avocats basé en République Démocratique du Congo, offrant ses services dans tous les domaines du droit des affaires en Afrique francophone.</p>
                    <p>Nos avocats sont des experts juridiques internationaux ayant plus de 15 ans de pratique en droit des affaires et des compétences approfondies en analyse juridique.  Ils suivent avec diligence les évolutions constantes des cadres juridiques et réglementaires de nos différents secteurs d’intervention.</p>
                      <p>Avec une équipe multiculturelle et multidisciplinaire respectant les standards internationaux de leurs professions, nous fournissons à nos clients une assistance et une représentation efficaces avec proactivité et une attention particulière à chaque détail dans la gestion des intérêts de nos clients.  </p>
                      <div class="row">
                          <div class="col-lg-6">
                            <ul>
                                <li>
                                    <i class="fas fa-check"></i> ItemO1
                                </li>
                                <li>
                                  <i class="fas fa-check"></i> ItemO2
                              </li>
                            </ul>
                          </div>
                          <div class="col-lg-6">
                            <ul>
                                <li>
                                    <i class="fas fa-check"></i> ItemO1
                                </li>
                                <li>
                                  <i class="fas fa-check"></i> ItemO2
                              </li>
                            </ul>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-6 col-sm-6">
                    <div class="card">
                        <div class="play-video">
                            <span>
                                <i class="fas fa-play"></i>
                            </span>
                        </div>
                      <img src="images/img1.jpg" alt="img">
                      <div class="block-badge">
                        <span>20</span>
                        <span>Ans</span>
                        <span>Expérience</span>
                    </div>
                    </div>
                    <div class="row mt-3 g-3 block-obj">
                      <div class="col-lg-6">
                          <div class="card-object">
                              <div class="text-star">
                                  <h5>Notre Objetif</h5>
                                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, blanditiis.</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6">
                         <div class="card-object">
                             <div class="text-star">
                                 <h5>Notre Mission</h5>
                                 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, blanditiis.</p>
                             </div>
                         </div>
                     </div>
                   </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="block_2">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-lg-6">
                        <div class="bg">
                          <img src="images/img3.jpg" alt="">
                        </div>
                      </div>
                    <div class="col-lg-6">
                      <div class="text-star content">
                        <h2>Our Benefits</h2>
                        <h1>Few Reasons Why You Shoul Choose Us ?</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quis atque nihil quibusdam omnis blanditiis expedita necessitatibus tenetur, dolore ex.</p>
                        <ul>
                          <li>
                            <i class="fas fa-check"></i>
                            <h4>Reason01</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, aperiam?</p>
                          </li>
                          <li>
                            <i class="fas fa-check"></i>
                            <h4>Reason01</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, aperiam?</p>
                          </li>
                          <li>
                            <i class="fas fa-check"></i>
                            <h4>Reason01</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, aperiam?</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                
            </div>
            <div class="counter">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-3 col-md-6 ">
                            <div class="text-star d-flex">
                                <h4>Client <br> Content</h4>
                                <h1>3000</h1>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="text-star d-flex">
                                <h4>Dossier <br> Traité</h4>
                                <h1>3000</h1>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="text-star d-flex">
                                <h4>Cabinet <br> Assise</h4>
                                <h1>3000</h1>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="text-star d-flex">
                                <h4>Cabinet <br> Assise</h4>
                                <h1>3000</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial">
                <div class="container">
                    <div class="text-center">
                        <h2>Témoignage</h2>
                        <h1>Ce Que Disent Nos Clients</h1>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-md-12 col-12">
                            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-indicators">
                                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                </div>
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <div class="card">
                                        <div class="text-center">
                                            <div class="avatar">
                                                <img src="images/team2.jpg" alt="img-test">
                                            </div>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, debitis totam. Modi eos facilis, accusamus officiis fuga, consequatur excepturi voluptas non, consectetur dolor praesentium veniam soluta fugit laboriosam incidunt magnam.</p>
                                            <h5>Pedrien Kinkani</h5>
                                            <span>Web Designer</span>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="carousel-item">
                                    <div class="card">
                                        <div class="text-center">
                                            <div class="avatar">
                                                <img src="images/team2.jpg" alt="img-test">
                                            </div>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, debitis totam. Modi eos facilis, accusamus officiis fuga, consequatur excepturi voluptas non, consectetur dolor praesentium veniam soluta fugit laboriosam incidunt magnam.</p>
                                            <h5>Pedrien Kinkani</h5>
                                            <span>Web Designer</span>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer>
                <div class="container-fluid pb-5">
                  <div class="row">
                    <div class="col-lg-4 col-md-6">
                      <div class="text-star">
                        <a href="#">
                          <img src="images/PLA_logo1.png" alt="">
                        </a>
                        <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil illum sit esse ratione saepe, hic facilis ex qui consequuntur repellat.</p>
                        <a href="#" class="icon">
                          <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="icon">
                          <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="icon">
                          <i class="fab fa-instagram"></i>
                        </a>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                      <div class="text-star text-white">
                        <h4>Contact Infos</h4>
                        <p>
                          <i class="fas fa-map-marker"></i>
                          28 Street, New York City, USA
                        </p>
                        <p>
                          <i class="fas fa-envelope"></i>
                          PathyLiongo@gmail.com
                        </p>
                        <p>
                          <i class="fas fa-phone"></i>
                          +243 000 000 000
                        </p>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                      <div class="text-star text-white">
                        <h4>NewsLetter</h4>
                        <p>Souscrivez-vous à notre NewsLetter pour être notifier de nos nouvelles</p>
                        <form action="">
                          <div class="form-group row">
                            <div class="col-lg-8">
                              <input type="text" class="form-control" placeholder="Veuillez inserez votre Email....">
                            </div>
                            <div class="col-lg-4">
                              <button class="btn">Me souscrire <i class="fas fa-paper-plane ps-1"></i></button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
            </footer>
            <div class="bottombar">
                <div class="text-center">
                  <p class="mb-0" style="opacity: .5;">Copyright © Pathy Liongo & Associates 2021</p>
                  <p class="mb-0" style="font-size: 14px;"><small>Designed By <a href="https://www.silasdev.com" target="_blank">SilasDev</a></small></p>
                </div>
            </div>
        </div>
    </div>
    <script src="js/app.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/scriptcarousel.js"></script>
    <!-- <script src="js/gsap.min.js"></script>
    <script src="js/ScrollTrigger.min.js"></script>
    <script src="js/all.js"></script> -->
    <script>
      $(window).scroll(function() {

        if ($(this).scrollTop() > 40) {
            $(".navbar").addClass('bg-white');
            $('.topbar').slideUp()
            
        } else {
            $(".navbar").removeClass('bg-white');
            $('.topbar').slideDown()
        }
      });
      $('.menu-toggle').click(function(){
        $(this).toggleClass('active')
        $('.full-menu').addClass('active')
      })
      $('.close-menu').click(function(){
        $('.menu-toggle').removeClass('active')
        $('.full-menu').removeClass('active')
      })
      $(window).on('load',function(){
          $('.loading').addClass('complete');
        });
        $('.scrollTop').click(function(){
            var getElement = $(this).attr('href');
            if ($(getElement).length){
                var getOffset = $(getElement).offset().top - $('.navbar').height();
                $('html,body').animate({
                    scrollTop:getOffset
                },1000);
            }
            return false;
        })
    </script>
</body>
</html>