<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pathy Liongo | Accueil</title>
    <link rel="shortcut icon" href="images/PlaLogo.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="font/css/all.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <header class="sticky-top">
    <div class="topbar">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-4 col-8 col-md-4">
            <div class="d-flex net-work">
              <span>Suivez-nous: </span>
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </div>
          <div class="col-lg-8 col-4 col-md-8">
            <div class="d-flex contact-info justify-content-end">
              <p class="mb-0">
                <i class="fas fa-map-marker"></i>
                <span>28 Street, New York City, USA</span>
              </p>
              <p class="mb-0">
                <i class="fas fa-envelope"></i>
                <span>PathyLoingo@gmail.com</span>
              </p>
              <p class="mb-0">
                <i class="fas fa-phone"></i>
                <span>+243 000 000 000</span>
              </p>
              <p class="mb-0">
                <a href="#">
                  <span>FR</span>
                </a>
              </p>
              <p class="mb-0">
                <a href="#">
                  <span>EN</span>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
      <nav class="navbar navbar-expand-lg">
        <div class="menu-toggle">
          <span></span>
          <span></span>
          <span></span>
        </div>
          <div class="container-fluid">
            <a class="navbar-brand" href="index.html">
              <img src="images/PLA logo.png" alt="img">
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto  mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link  me-4" aria-current="page" href="index.html">Accueil</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link me-4" href="about.html">A propos de nous</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link me-4" href="expertise.html">Expertises</a>
                  <div class="dropMenu dropMenu-lg">
                    <div class="container">
                      <div class="row">
                        <div class="col-lg-6">
                          <h5>Compétences</h5>
                          <ul>
                            <li><a href="">Présentation</a></li>
                            <li><a href="">Vison & Valeurs</a></li>
                            <li><a href="">Historique</a></li>
                            <li><a href="">Stratégie internationale</a></li>
                            <li><a href="">Diversité</a></li>
                            <li><a href="">RSE</a></li>
                            <li><a href="">Distinctions</a></li>
                          </ul>
                        </div>
                        <div class="col-lg-6">
                          <h5>Secteurs</h5>
                          <ul>
                            <li><a href="">Présentation</a></li>
                            <li><a href="">Vison & Valeurs</a></li>
                            <li><a href="">Historique</a></li>
                            <li><a href="">Stratégie internationale</a></li>
                            <li><a href="">Diversité</a></li>
                            <li><a href="">RSE</a></li>
                            <li><a href="">Distinctions</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link me-4" href="avocats.html">équipe</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link me-4" href="publication.html">Publication</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="presence.html">Présence</a>
                </li>
              </ul>
            </div>
          </div>
      </nav>
  </header>
    <div class="global-div">
        <div class="wrapper">
          <div class="loading">
            <div id="loader"></div>
          </div>
            <div class="full-menu">
              <div class="close-menu">
                <span></span>
                <span></span>
              </div>
             <div class="content">
               <h1>Menu</h1>
               <hr>
               <ul>
                 <li>
                   <a href="#">
                     Accueil
                   </a>
                   <a href="#">
                    A propos de nous
                  </a>
                  <a href="#">
                    Expertises
                  </a>
                  <a href="#">
                    Avocats
                  </a>
                  <a href="#">
                    Contact
                  </a>
                 </li>
               </ul>
               <h1>Contact info</h1>
               <hr>
               <p>
                 <i class="fas fa-phone"></i>
                 +243 000 000 000
               </p>
               <p>
                <i class="fas fa-envelope"></i>
                PathyLiongo@gmail.com
              </p>
              <div class="net-work d-flex justify-content-center mt-4">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                  <i class="fab fa-instagram"></i>
                </a>
              </div>
             </div>
            </div>
            
            <div class="banner-sm">
                <img src="images/img1.jpg" alt="">
                    <div class="container">
                      <dv class="row">
                        <div class="col-lg-12">
                          <div class="text-center text-white">
                            <h2>Notre Internationale</h2>
                            <h1>Présence</h1>
                          </div>
                        </div>
                      </dv>
                    </div>
            </div>
            <div class="block_8">
              <div class="container">
                <div class="row g-3 g-lg-5">
                  <div class="col-lg-8">
                    <div class="tab-content" id="nav-tabContent">
                      <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                        <div class="text-star">
                          <h2>Pathy Liongo & Associates SCP</h2>
                          <h1>République Démocratique Du Congo <br><span>(Kinshasa & Matadi)</span></h1>
                          <p>
                            Basé en République démocratique du Congo, PLA Law Firm est membre de Lex Africa, réseau regroupant des cabinets d’avocats de premier rang dans 24 juridictions africaines. 
                          </p>
                          <hr>
                          <div class="row mt-5">
                            <div class="col-lg-4">
                              <h6><i class="fas fa-envelope"></i> info@plaafricalaw.com</h6>
                            </div>
                            <div class="col-lg-4">
                              <h6><i class="fas fa-phone"></i> +243 81 423 3125</h6>
                            </div>
                          </div>
                          <hr>
                        </div>
                        <div class="card-img">
                          <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                              <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                              <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            </svg>
                          </div>
                          <div class="location">
                            Kinshasa & Matadi
                          </div>
                          <img src="images/kin.jpeg" alt="">
                        </div>
                      </div>
                      <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                        <div class="text-star">
                          <h2>Pathy Liongo & Associates</h2>
                          <h1>République Du Congo <br><span>(Brazzaville)</span></h1>
                          <p>
                            Basé en République démocratique du Congo, PLA Law Firm est membre de Lex Africa, réseau regroupant des cabinets d’avocats de premier rang dans 24 juridictions africaines. 
                          </p>
                          <hr>
                          <div class="row mt-5">
                            <div class="col-lg-4">
                              <h6><i class="fas fa-envelope"></i> info@plaafricalaw.com</h6>
                            </div>
                            <div class="col-lg-4">
                              <h6><i class="fas fa-phone"></i> +242 06 466 6110</h6>
                            </div>
                          </div>
                          <hr>
                        </div>
                        <div class="card-img">
                          <div class="location">
                            Brazzaville
                          </div>
                          <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                              <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                              <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            </svg>
                          </div>
                          <img src="images/brazzaville.jpg" alt="">
                        </div>
                      </div>
                      <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                        <div class="text-star">
                          <h2>Emery Mukendi Wafwana & Associates, PC</h2>
                          <h1>Etats Unis D'amérique <br><span>(New York)</span></h1>
                          <p>
                            Nous sommes également présents à New York, aux États-Unis, grâce à notre alliance stratégique avec le cabinet Emery Mukendi Wafwana and Associates, PC de New York, dont le rayonnement des activités vers le continent africain est une référence indéniable.
                          </p>
                          <hr>
                          <div class="row mt-5">
                            <div class="col-lg-4">
                              <h6><i class="fas fa-envelope"></i> dejean@cabemery.us</h6>
                            </div>
                            <div class="col-lg-4">
                              <h6><i class="fas fa-phone"></i> +1 212 922 0040</h6>
                            </div>
                          </div>
                          <hr>
                        </div>
                        <div class="card-img">
                          <div class="location">
                            New York
                          </div>
                          <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                              <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                              <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            </svg>
                          </div>
                          <img src="images/newyork.jpg" alt="">
                        </div>
                      </div>
                      <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="list-group card-exp" id="list-tab" role="tablist">
                      <h4 class="mb-3">Où nous trouvez ?</h4>
                      <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab" aria-controls="list-home">RDC (Kinshasa & Matadi)</a>
                      <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">RC (Brazzaville)</a>
                      <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab" aria-controls="list-messages">USA (New York)</a>
                    </div>
                  </div>
                </div>
                
                
              </div>
            </div>
            <footer>
              <div class="container-fluid pb-5">
                <div class="row">
                  <div class="col-lg-4 col-md-6">
                    <div class="text-star">
                      <a href="#">
                        <img src="images/PLA_logo1.png" alt="">
                      </a>
                      <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil illum sit esse ratione saepe, hic facilis ex qui consequuntur repellat.</p>
                      <a href="#" class="icon">
                        <i class="fab fa-facebook-f"></i>
                      </a>
                      <a href="#" class="icon">
                        <i class="fab fa-twitter"></i>
                      </a>
                      <a href="#" class="icon">
                        <i class="fab fa-instagram"></i>
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                    <div class="text-star text-white">
                      <h4>Contact Infos</h4>
                      <p>
                        <i class="fas fa-map-marker"></i>
                        28 Street, New York City, USA
                      </p>
                      <p>
                        <i class="fas fa-envelope"></i>
                        PathyLiongo@gmail.com
                      </p>
                      <p>
                        <i class="fas fa-phone"></i>
                        +243 000 000 000
                      </p>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                    <div class="text-star text-white">
                      <h4>NewsLetter</h4>
                      <p>Souscrivez-vous à notre NewsLetter pour être notifier de nos nouvelles</p>
                      <form action="">
                        <div class="form-group row">
                          <div class="col-lg-8">
                            <input type="text" class="form-control" placeholder="Veuillez inserez votre Email....">
                          </div>
                          <div class="col-lg-4">
                            <button class="btn">Me souscrire <i class="fas fa-paper-plane ps-1"></i></button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </footer>
            <div class="bottombar">
              <div class="text-center">
                <p class="mb-0" style="opacity: .5;">Copyright © Pathy Liongo & Associates 2021</p>
                <p class="mb-0" style="font-size: 14px;"><small>Designed By <a href="https://www.silasdev.com" target="_blank">SilasDev</a></small></p>
              </div>
            </div>
        </div>
    </div>
    <script src="js/app.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/scriptcarousel.js"></script>
    <script>
      $(window).scroll(function() {

        if ($(this).scrollTop() > 40) {
            $(".navbar").addClass('bg-white');
            $('.topbar').slideUp()
            
        } else {
            $(".navbar").removeClass('bg-white');
            $('.topbar').slideDown()
        }
      });
      $('.menu-toggle').click(function(){
        $(this).toggleClass('active')
        $('.full-menu').addClass('active')
      })
      $('.close-menu').click(function(){
        $('.menu-toggle').removeClass('active')
        $('.full-menu').removeClass('active')
      })
      $(window).on('load',function(){
          $('.loading').addClass('complete');
        });
        $('.scrollTop').click(function(){
            var getElement = $(this).attr('href');
            if ($(getElement).length){
                var getOffset = $(getElement).offset().top - $('.navbar').height();
                $('html,body').animate({
                    scrollTop:getOffset
                },1000);
            }
            return false;
        })
    </script>
</body>
</html>