<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pathy Liongo | Accueil</title>
    <link rel="shortcut icon" href="images/PlaLogo.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="font/css/all.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header class="sticky-top">
        <div class="topbar">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-4 col-8 col-md-4">
                <div class="d-flex net-work">
                  <span>Suivez-nous: </span>
                  <a href="#">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                  <a href="#">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a href="#">
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                </div>
              </div>
              <div class="col-lg-8 col-4 col-md-8">
                <div class="d-flex contact-info justify-content-end">
                  <p class="mb-0">
                    <i class="fas fa-map-marker"></i>
                    <span>28 Street, New York City, USA</span>
                  </p>
                  <p class="mb-0">
                    <i class="fas fa-envelope"></i>
                    <span>PathyLoingo@gmail.com</span>
                  </p>
                  <p class="mb-0">
                    <i class="fas fa-phone"></i>
                    <span>+243 000 000 000</span>
                  </p>
                  <p class="mb-0">
                    <a href="#">
                      <span>FR</span>
                    </a>
                  </p>
                  <p class="mb-0">
                    <a href="#">
                      <span>EN</span>
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
          <nav class="navbar navbar-expand-lg">
            <div class="menu-toggle">
              <span></span>
              <span></span>
              <span></span>
            </div>
              <div class="container-fluid">
                <a class="navbar-brand" href="index.html">
                  <img src="images/PLA logo.png" alt="img">
                </a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ms-auto  mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link me-4" aria-current="page" href="index.html">Accueil</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link me-4" href="about.html">A propos de nous</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link me-4" href="expertise.html">Expertises</a>
                      <div class="dropMenu dropMenu-lg">
                        <div class="container">
                          <div class="row">
                            <div class="col-lg-6">
                              <h5>Compétences</h5>
                              <ul>
                                <li><a href="">Présentation</a></li>
                                <li><a href="">Vison & Valeurs</a></li>
                                <li><a href="">Historique</a></li>
                                <li><a href="">Stratégie internationale</a></li>
                                <li><a href="">Diversité</a></li>
                                <li><a href="">RSE</a></li>
                                <li><a href="">Distinctions</a></li>
                              </ul>
                            </div>
                            <div class="col-lg-6">
                              <h5>Secteurs</h5>
                              <ul>
                                <li><a href="">Présentation</a></li>
                                <li><a href="">Vison & Valeurs</a></li>
                                <li><a href="">Historique</a></li>
                                <li><a href="">Stratégie internationale</a></li>
                                <li><a href="">Diversité</a></li>
                                <li><a href="">RSE</a></li>
                                <li><a href="">Distinctions</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link me-4" href="avocats.html">équipe</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link me-4 active" href="publication.html">Publication</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href="presence.html">Présence</a>
                    </li>
                  </ul>
                </div>
              </div>
          </nav>
      </header>
    <div class="global-div">
        <div class="wrapper">
          <div class="loading">
            <div id="loader"></div>
          </div>
            <div class="full-menu">
              <div class="close-menu">
                <span></span>
                <span></span>
              </div>
             <div class="content">
               <h1>Menu</h1>
               <hr>
               <ul>
                 <li>
                   <a href="#">
                     Accueil
                   </a>
                   <a href="#">
                    A propos de nous
                  </a>
                  <a href="#">
                    Expertises
                  </a>
                  <a href="#">
                    Avocats
                  </a>
                  <a href="#">
                    Contact
                  </a>
                 </li>
               </ul>
               <h1>Contact info</h1>
               <hr>
               <p>
                 <i class="fas fa-phone"></i>
                 +243 000 000 000
               </p>
               <p>
                <i class="fas fa-envelope"></i>
                PathyLiongo@gmail.com
              </p>
              <div class="net-work d-flex justify-content-center mt-4">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                  <i class="fab fa-instagram"></i>
                </a>
              </div>
             </div>
            </div>
            
            <div class="banner-sm">
                <img src="images/img3.jpg" alt="">
                    <div class="container">
                      <dv class="row">
                        <div class="col-lg-12">
                          <div class="text-center text-white">
                            <h2>Nos</h2>
                            <h1>Publications</h1>
                          </div>
                        </div>
                      </dv>
                    </div>
            </div>
            <div class="block_9">
                <div class="container">
                    <div class="text-center">
                        <h2>Blog</h2>
                        <h1>Dernières Publications</h1>
                    </div>
                    <div class="row g-lg-5 g-3">
                        <div class="col-lg-4 col-md-6">
                            <div class="card">
                                <div class="date">
                                    <span>21</span>
                                    <span>Janv</span>
                                </div>
                                <div class="card-img">
                                    <img src="images/img5.jpg" alt="">
                                </div>
                                <div class="card-body">
                                    <h6>By Admin</h6>
                                    <h4>Lorem ipsum dolor sit, amet consectetur adipisicing.</h4>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, sequi.</p>
                                    <a href="#">Lire Plus <i class="fas fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="card">
                                <div class="date">
                                    <span>21</span>
                                    <span>Janv</span>
                                </div>
                                <div class="card-img">
                                    <img src="images/img3.jpg" alt="">
                                </div>
                                <div class="card-body">
                                    <h6>By Admin</h6>
                                    <h4>Lorem ipsum dolor sit, amet consectetur adipisicing.</h4>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, sequi.</p>
                                    <a href="#">Lire Plus <i class="fas fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="card">
                                <div class="date">
                                    <span>21</span>
                                    <span>Janv</span>
                                </div>
                                <div class="card-img">
                                    <img src="images/img4.jpg" alt="">
                                </div>
                                <div class="card-body">
                                    <h6>By Admin</h6>
                                    <h4>Lorem ipsum dolor sit, amet consectetur adipisicing.</h4>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, sequi.</p>
                                    <a href="#">Lire Plus <i class="fas fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="card">
                                <div class="date">
                                    <span>21</span>
                                    <span>Janv</span>
                                </div>
                                <div class="card-img">
                                    <img src="images/travi-1.jpg" alt="">
                                </div>
                                <div class="card-body">
                                    <h6>By Admin</h6>
                                    <h4>Lorem ipsum dolor sit, amet consectetur adipisicing.</h4>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, sequi.</p>
                                    <a href="#">Lire Plus <i class="fas fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="card">
                                <div class="date">
                                    <span>21</span>
                                    <span>Janv</span>
                                </div>
                                <div class="card-img">
                                    <img src="images/newyork.jpg" alt="">
                                </div>
                                <div class="card-body">
                                    <h6>By Admin</h6>
                                    <h4>Lorem ipsum dolor sit, amet consectetur adipisicing.</h4>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, sequi.</p>
                                    <a href="#">Lire Plus <i class="fas fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="card">
                                <div class="date">
                                    <span>21</span>
                                    <span>Janv</span>
                                </div>
                                <div class="card-img">
                                    <img src="images/img4.jpg" alt="">
                                </div>
                                <div class="card-body">
                                    <h6>By Admin</h6>
                                    <h4>Lorem ipsum dolor sit, amet consectetur adipisicing.</h4>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, sequi.</p>
                                    <a href="#">Lire Plus <i class="fas fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer>
                <div class="container-fluid pb-5">
                  <div class="row">
                    <div class="col-lg-4 col-md-6">
                      <div class="text-star">
                        <a href="#">
                          <img src="images/PLA_logo1.png" alt="">
                        </a>
                        <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil illum sit esse ratione saepe, hic facilis ex qui consequuntur repellat.</p>
                        <a href="#" class="icon">
                          <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="icon">
                          <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="icon">
                          <i class="fab fa-instagram"></i>
                        </a>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                      <div class="text-star text-white">
                        <h4>Contact Infos</h4>
                        <p>
                          <i class="fas fa-map-marker"></i>
                          28 Street, New York City, USA
                        </p>
                        <p>
                          <i class="fas fa-envelope"></i>
                          PathyLiongo@gmail.com
                        </p>
                        <p>
                          <i class="fas fa-phone"></i>
                          +243 000 000 000
                        </p>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                      <div class="text-star text-white">
                        <h4>NewsLetter</h4>
                        <p>Souscrivez-vous à notre NewsLetter pour être notifier de nos nouvelles</p>
                        <form action="">
                          <div class="form-group row">
                            <div class="col-lg-8">
                              <input type="text" class="form-control" placeholder="Veuillez inserez votre Email....">
                            </div>
                            <div class="col-lg-4">
                              <button class="btn">Me souscrire <i class="fas fa-paper-plane ps-1"></i></button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
            </footer>
            <div class="bottombar">
                <div class="text-center">
                  <p class="mb-0" style="opacity: .5;">Copyright © Pathy Liongo & Associates 2021</p>
                  <p class="mb-0" style="font-size: 14px;"><small>Designed By <a href="https://www.silasdev.com" target="_blank">SilasDev</a></small></p>
                </div>
            </div>
        </div>
    </div>
    <script src="js/app.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/scriptcarousel.js"></script>
    <!-- <script src="js/gsap.min.js"></script>
    <script src="js/ScrollTrigger.min.js"></script>
    <script src="js/all.js"></script> -->
    <script>
      $(window).scroll(function() {

        if ($(this).scrollTop() > 40) {
            $(".navbar").addClass('bg-white');
            $('.topbar').slideUp()
            
        } else {
            $(".navbar").removeClass('bg-white');
            $('.topbar').slideDown()
        }
      });
      $('.menu-toggle').click(function(){
        $(this).toggleClass('active')
        $('.full-menu').addClass('active')
      })
      $('.close-menu').click(function(){
        $('.menu-toggle').removeClass('active')
        $('.full-menu').removeClass('active')
      })
      $(window).on('load',function(){
          $('.loading').addClass('complete');
        });
        $('.scrollTop').click(function(){
            var getElement = $(this).attr('href');
            if ($(getElement).length){
                var getOffset = $(getElement).offset().top - $('.navbar').height();
                $('html,body').animate({
                    scrollTop:getOffset
                },1000);
            }
            return false;
        })
    </script>
</body>
</html>